numpy<=1.26.4
transformers>=4.45.2
hydra-core>=1.3.2
natsort>=8.4.0
einops>=0.7.0
librosa>=0.10.1
kui>=1.6.0
baize
uvicorn>=0.30.0
loguru>=0.6.0
pyrootutils>=1.0.4
ormsgpack
tiktoken>=0.8.0
pydantic==2.9.2
cachetools
descript-audio-codec
descript-audiotools
soundfile
click
tqdm
